[user]
	name = Jorge Maroto
	email = patoroco@gmail.com
[alias]
	c = commit -m
	ca = commit -am
	s = status
	l = log --decorate --graph --oneline
	tags = log --tags --simplify-by-decoration --pretty="format:%ai %%d"
	fs = flow feature start
	ff = flow feature finish
[core]
	excludesfile = $HOME/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[mergetool]
	keepBackup = true
[push]
	default = matching
