[user]
	name = Jorge Maroto
	email = patoroco@gmail.com
[alias]
	s = status
	l = log --decorate --graph --oneline
[core]
	excludesfile = /Users/patoroco/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
